divide
generate_moves
random
random_uci
test_backward
test_bitset
test_change_dfa
test_chess_game
test_chess_limited
test_dfa
test_forward
test_get_union
test_memorymap
test_normal_nim_game
test_perft
test_perft_u
test_reachable
test_solved
test_tictactoe_game
typescript*
